body {
    background: linear-gradient(to right, #000000, #ffffff);
    font-family: sans-serif;
    color: #C0C0C0;
}

.wrapper {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

header {
    margin-top: 20px;
    width: 1000px;
    height: 50px;
    font-size: 30px;


}

main {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 500px;
    padding-bottom: 10px;
    width: 1000px;
    margin-left: 0px;

}

.grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 50px;
    padding: 30px;
    grid-row-gap: 90px;
    align-items: center;
    color: #c0c0c0;
    font-size: 20px;
    box-shadow: 0 0 5px
}



footer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1000px;
    height: 20px;
    text-align: left;
}
